# Ambiente virtual
venv/
.env
*.env

# Arquivos temporários e de cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Chroma VectorStore
db/
chroma_db/
*.sqlite
*.json

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos pessoais
*.bak
*.swp
